<div class="container d-flex justify-content-between py-4">
    <div class="col-4 ">
        <h5>DONDE ENCONTRARNOS:</h5>
        <p><a href="https://maps.app.goo.gl/awVPKtVcZnpH5rUr9" target="_blank" class="link-light link-underline  link-underline-opacity-0">Av. Túpac Amaru 3840, Lima 15312</a></p>
        
    </div>
    <div class="col-4">
        <h5>SERVICIOS AGREGADOS:</h5>
        <ul>
            <li>servicio</li>
            <li>servicio</li>
            <li>servicio</li>
            <li>servicio</li>
        </ul>
    </div>
    <div class="col-2 col-lg-2 offset-lg-1 mb-3 " >
        <h5 class="mb-3">SIGUENOS EN:</h5>
        <ul class="lista-link list-unstyled ">
            <li class="mb-3"><a href="#"><i class="fa-brands fa-facebook-f ms-2 me-3" style="color: #ffffff;"></i></a>Facebook</li>
            <li class="mb-3"><a href="https://wa.me/51922777164" target="_blank"><i class="fa-brands fa-whatsapp ms-2 me-3" style="color: #ffffff;"></i></a>Whatsapp</li>
            <li class="mb-3"><a href="#"><i class="fa-brands fa-instagram ms-2 me-3" style="color: #ffffff;"></i></a>Instagram</li>
            <li class="mb-3"><a href="#"><i class="fa-brands fa-telegram ms-2 me-3" style="color: #ffffff;"></i></a>Telegram</li>
        </ul>
    </div>
</div>
    
     


