
.lista-link i {
    animation: bounce-scale 1.5s infinite ease-in-out;
  }
  
  @keyframes bounce-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }