<div class="container  p-4">
    <div class="row animate__animated animate__fadeInDown animate__fast">
        <div class="container-img col-md-6 col-12 ">
            <h5>{{obra?.titulo}}</h5>
            <img [src]="obra?.imagen" [alt]="obra?.titulo" style="width: 100%;height: auto" >
            <p>{{obra?.ano}}</p>
        </div>
        <div class="col-md-6 col-12">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic fugiat commodi aut, dignissimos rem quos repellat nam incidunt nesciunt minima corporis, excepturi consectetur maiores iure mollitia veniam velit dolores. Nostrum.
            Repudiandae blanditiis natus nihil adipisci numquam quam suscipit, facere molestiae cumque quasi perspiciatis amet hic dolores nam, sunt dolorum assumenda nisi? Cumque dolore voluptas sint accusamus quas ab sunt laborum!
            Debitis, nulla. Qui sapiente rerum maxime minima placeat mollitia officia ex repudiandae cupiditate. Debitis aliquid, qui nostrum amet sed cupiditate quae dolorum tempore voluptatibus iure ex, quibusdam pariatur fugiat accusamus?
            Rem perspiciatis provident error voluptates facilis vel laboriosam exercitationem ipsum odio nesciunt. Reiciendis, harum consequuntur. Impedit odit, tempore animi nobis cumque mollitia magni necessitatibus rem, atque maiores dolorem? Autem, ut?
            Reprehenderit fuga reiciendis vel hic soluta cupiditate maiores nemo, voluptas rerum facilis voluptates amet porro unde illum quae quasi eveniet possimus optio autem aspernatur voluptate illo ratione. Animi, exercitationem dicta.
            Exercitationem odit, architecto omnis sunt, cupiditate nobis repellendus fugit tempore perspiciatis sequi fugiat ut doloribus. Distinctio labore aliquam suscipit, numquam nostrum consequuntur possimus. Doloremque quo officiis sit dignissimos fugiat maiores.
            Perspiciatis officiis unde necessitatibus iure reprehenderit repellat doloribus illo, exercitationem deserunt, deleniti nulla odit, aspernatur qui ducimus est ipsam fugiat fugit enim laudantium quaerat! Possimus temporibus aut reiciendis fugit suscipit.</p>
        </div>

        <div class="container p-4">
            <div class="row">
                <div class="col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex maxime, enim praesentium sint reprehenderit iusto beatae, ea accusamus ipsum distinctio totam at non possimus saepe eos incidunt sequi tempore voluptates.
                    Autem, corporis ratione. Perspiciatis culpa laudantium distinctio, accusantium maxime nulla corporis necessitatibus placeat dicta reprehenderit sed porro incidunt? Rerum impedit, eveniet labore laborum magnam deserunt mollitia odit nemo officiis molestias.
                    Quidem reiciendis tenetur officia corrupti aspernatur excepturi architecto corporis, fugit cumque assumenda inventore cum accusamus voluptate quisquam. Reiciendis, animi cum expedita dolores tenetur dolore hic laboriosam necessitatibus, corporis quas reprehenderit!
                </div>
                <div class="col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex maxime, enim praesentium sint reprehenderit iusto beatae, ea accusamus ipsum distinctio totam at non possimus saepe eos incidunt sequi tempore voluptates.
                    Autem, corporis ratione. Perspiciatis culpa laudantium distinctio, accusantium maxime nulla corporis necessitatibus placeat dicta reprehenderit sed porro incidunt? Rerum impedit, eveniet labore laborum magnam deserunt mollitia odit nemo officiis molestias.
                    Quidem reiciendis tenetur officia corrupti aspernatur excepturi architecto corporis, fugit cumque assumenda inventore cum accusamus voluptate quisquam. Reiciendis, animi cum expedita dolores tenetur dolore hic laboriosam necessitatibus, corporis quas reprehenderit!
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex maxime, enim praesentium sint reprehenderit iusto beatae, ea accusamus ipsum distinctio totam at non possimus saepe eos incidunt sequi tempore voluptates.
                    Autem, corporis ratione. Perspiciatis culpa laudantium distinctio, accusantium maxime nulla corporis necessitatibus placeat dicta reprehenderit sed porro incidunt? Rerum impedit, eveniet labore laborum magnam deserunt mollitia odit nemo officiis molestias.
                    Quidem reiciendis tenetur officia corrupti aspernatur excepturi architecto corporis, fugit cumque assumenda inventore cum accusamus voluptate quisquam. Reiciendis, animi cum expedita dolores tenetur dolore hic laboriosam necessitatibus, corporis quas reprehenderit!
                </div>
                <div class="col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex maxime, enim praesentium sint reprehenderit iusto beatae, ea accusamus ipsum distinctio totam at non possimus saepe eos incidunt sequi tempore voluptates.
                    Autem, corporis ratione. Perspiciatis culpa laudantium distinctio, accusantium maxime nulla corporis necessitatibus placeat dicta reprehenderit sed porro incidunt? Rerum impedit, eveniet labore laborum magnam deserunt mollitia odit nemo officiis molestias.
                    Quidem reiciendis tenetur officia corrupti aspernatur excepturi architecto corporis, fugit cumque assumenda inventore cum accusamus voluptate quisquam. Reiciendis, animi cum expedita dolores tenetur dolore hic laboriosam necessitatibus, corporis quas reprehenderit!
                </div>
            </div>
        </div>
        
        
        <div class="container p-4">
            <div class="row">
                <div class="col">
                    imagen
                </div>
                <div class="col">
                    imagen
                </div>
                <div class="col">
                    imagen
                </div>
                <div class="col">
                    imagen
                </div>
                <div class="col">
                    imagen
                </div>
                <div class="col">
                    imagen
                </div>
                <div class="col">
                    imagen
                </div>
            </div>
        </div>
        
    </div>
</div>

