<div class="container " >
  <div class="row ">
    <div class="col-md-4 my-4 d-flex align-items-center flex-column"  *ngFor="let proyecto  of listaProyectos" >
      <a [href]="['/proyecto/by/'+proyecto.id]">
        <div class=" animate__animated animate__fadeInRight card-img-container "   >
        <img class="card-img " [src]="proyecto.imagen" [alt]="proyecto.titulo">
        <div class="card-img-overlay text-dark"  style="height: 100%;" >Obra-2024</div>
        <div class="container-hover  ">
          <p>{{proyecto.titulo}}</p>
        </div>
      </div>
    </a>
    </div>
  </div>
  
</div>








