<div id="carouselExample" class=" carousel slide animate__animated animate__fadeIn " >
      <div class="carousel-inner carousel-fade ">
        <div class="carousel-item  active">
          <img src="./assets/images/casa7.jpeg" class="d-block w-100" alt="" >
          <div class="carousel-caption ">
              <div class="carousel-titulo animate__animated animate__backInLeft animate__fast ">
                <h1  class="text-warning " >Diseñamos tus sueños</h1>
                <div class="my-5">
                  <img src="./assets/images/logo.png" style="height: 100%;">
                </div>
                
              </div>   
              <div class=" animate__animated animate__backInRight animate__fast " >
                  <h1 class="text-warning">Sobre Nosotros</h1>
                  <p style="font-size: 20px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat id porro molestias adipisci consequuntur dicta accusamus vero voluptatibus accusantium ducimus veritatis maxime saepe in natus quas, earum recusandae, perspiciatis nesciunt.</p>
                  <button type="button" class="btn btn-warning" >Ver Mas...</button>
              </div>
              
              
          </div>
          <div class="carousel-caption-1 d-none d-md-block animate__animated animate__backInLeft animate__fast">
            <h5>Arquitecto: Jefry Apaza</h5>
            <p>Universidad:UPN<br>
              Año:2024
            </p>
            
            <hr style="border-top: solid 3px #e5c345;width: 100%;opacity: .7;">
            <p>Some representative placeholder content for the first slide.</p>
            
          </div>
          <div class="carousel-caption-2 d-none d-md-block animate__animated animate__backInLeft animate__fast">
            <strong>2024</strong>
            
          </div>
          <div class="carousel-caption-3 d-none d-md-block animate__animated animate__backInRight animate__fast">
            <h5>Arquitecto: Jefry Apaza</h5>
            <p>Universidad:UPN<br>
              Año:2024
            </p>
            <hr style="border-top: solid 3px #e5c345;width: 100%;opacity: .7;">
            <p>Some representative placeholder content for the first slide.</p>
           
          </div>
          
        </div>

        <div class="carousel-item">
          <img src="./assets/images/casa2.webp" class="d-block w-100 " alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="animate__animated animate__backInLeft animate__fast " >Second slide label</h1>
            <div class=" animate__animated animate__backInRight animate__fast" >
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid necessitatibus quae expedita rerum animi quas eaque cum et eveniet. Id quibusdam exercitationem quaerat maxime, architecto quos minus fuga in?</p>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/images/casa3.webp" class="d-block w-100 " alt="">
          <div class="carousel-caption d-none d-md-block">
              <h1>Third slide label</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et animi autem dolores ullam eveniet odio, assumenda iste rem natus rerum esse sequi nostrum quod itaque quae, voluptate repellat incidunt fugit?</p>
            </div>
          </div>
      </div>

      <button class="carousel-control-prev "  type="button" data-bs-target="#carouselExample"  data-bs-slide="prev">
        
        <span class=""><i class="fa-solid fa-chevron-right fa-rotate-180 fa-2xl"></i></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      
        <span class=""><i class="fa-solid fa-chevron-right fa-2xl"></i></span>
      </button>
</div>
<div class="container my-4 p-5 "  >
  <section class="animate-element mt-5"  #animElements>
    <div class="row ">
      <div class="col ">
        <h2>Fran Silvestre Arquitectos es un estudio de arquitectura y diseño con sede en Valencia, formado por un grupo multidisciplinar de profesionales, que realiza proyectos residenciales, culturales, corporativos y públicos a nivel nacional e internacional. </h2>
      </div>
    </div>
    <div class="row fs-5">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
      </div>
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illum eveniet eius praesentium maiores odio numquam, inventore quisquam totam animi dolore aut ipsum, id ipsam, recusandae sint molestiae fuga! In.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
      </div>
    </div>
  </section>
  
</div>

  <section class="container p-4  animate-element " #animElements  >
    <div class="row my-4">
      <div class="col text-center">
        <h3 style="font-size: 95px;">PROYECTOS</h3>
        <div > 
          <a routerLink="arquitectura" class="fa-solid fa-2xs" style="color: #fffFFF;">
            <i class="fa-solid fa-arrow-right-long fa-beat-fade fa-2xs" style="margin-right: 8px;"></i>
              Ir a proyectos
          </a>
        </div>
       
        <osona-obras ></osona-obras>
      </div>
    </div>
  </section>
  
  <article class="p-4 animate-element  " #animElements >
    <section class="container fs-4 text-center">
      <div class="row ">
        <div class="col-12">
          <h3 style="font-size: 95px;">ESTUDIOS</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore temporibus dolorem soluta, possimus enim earum nulla quibusdam ea repellat totam, officia iste minima placeat a at ab maiores! Optio?
          Reiciendis autem nostrum incidunt quis optio, sit, culpa doloremque impedit exercitationem similique odit sapiente amet corrupti, dolorum blanditiis distinctio. Commodi optio fugiat et saepe a provident, quia voluptates officia minus.
          Obcaecati, dolore? Iure ipsum eligendi impedit architecto itaque minus modi possimus molestias tempora nihil! Ducimus vel necessitatibus, veniam distinctio, dolorum ipsa quis repellat harum doloremque autem, rem ipsam debitis voluptatem?
          Dignissimos, veritatis repellat minima molestias, quibusdam voluptates minus, expedita ducimus totam quidem tenetur accusantium consectetur commodi. Iure eius dolore totam, fugit laudantium quos repudiandae molestiae provident, aliquam dolorem nam nemo!
          Cum omnis explicabo a? Nisi enim similique sequi quod, tempore inventore praesentium tenetur. Ex numquam sint doloremque non magni consectetur, optio ullam harum perferendis aspernatur minima odio deserunt eaque hic?
          Iure optio esse eos ad fugiat porro, sapiente magni temporibus excepturi, assumenda ipsa quo provident nihil nesciunt sint necessitatibus? Necessitatibus debitis nulla facere eaque consequuntur sed quod? Voluptates, unde quibusdam!
          Aperiam ut perspiciatis, vel incidunt illo possimus ab blanditiis eligendi quae officiis cum quas iure dolorum adipisci itaque? Quia, nobis. Eaque dolores aut debitis perspiciatis ipsam labore sed autem modi?
          Facilis asperiores unde quis qui ducimus facere aut aperiam voluptates in. Veniam, tempora est modi numquam, labore eligendi qui nihil quia enim minima asperiores fugit saepe sunt laboriosam eaque. Dolorem.
          Porro corporis nihil eos? Quae dolorem accusantium dignissimos aliquam magni aspernatur quam officiis non magnam exercitationem et nobis odit praesentium minus in ea, pariatur culpa repellendus tempore qui eos facilis.
          Aliquam alias dolore iste sapiente saepe, magnam, ducimus aliquid ipsa omnis sint totam architecto dolores animi harum asperiores. Sit, numquam velit! Exercitationem laudantium quo quaerat blanditiis? Illo amet ratione ad?</p>
        </div>
        <!-- <div class="col">
          <h3>Conocimientos</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit at dolorum provident impedit deserunt? Sit, non, fugit cupiditate quae in nihil quidem id eum, veniam facere adipisci dolorem distinctio tenetur!</p>
        </div> -->
      </div>
    </section>
    <section class="container  p-4 ">
      <div class="row text-center ">
        <div class="col-12">
          <div  id="video-container " >
            <h3 class="my-4">¿PORQUÉ OSANA?</h3>
            <iframe class="" id="youtube-video" width="100%" height="400" src="https://www.youtube.com/embed/-s0g9lFazpw?enablejsapi=1&controls=0&modestbranding=1&rel=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
            <p class="p-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, laborum! Ipsam dolorum nostrum aliquam nisi quidem voluptatibus minima corporis ratione necessitatibus quo. Labore velit rem, debitis sequi repellat maiores earum.</p>
          </div>
        </div>
        
      </div>
    </section>
  </article>


  















  



