.carousel-caption {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-100%, -70%);
    text-align: left;

  }
  .carousel-caption-1{
    color: #ffffff;
    width: 30%;
    position: absolute;
    bottom: 8%;
    left: 15%;
   
  }
  .carousel-caption-2{
    color: #ffffff;
    width: 30%;
    position: absolute;
    bottom: 13%;
    left: 49%;
   
  }
  .carousel-caption-3{
    text-align: right;
    color: #ffffff;
    width: 30%;
    position: absolute;
    bottom: 8%;
    right: 15%;
   
  }


  .carousel-caption>h1{
    font-size: 100px;
  }

  .carousel-caption>p{
   font-size: 20px;
  }


  .carousel{
    --animate-duration:1.8s
  }
 

  #youtube-video{
    border-radius: 2%;
  }


  .animate-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .animate-element.visible {
    opacity: 1;
    transform: translateY(0);
  }
  